.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-google-plus {
    color: #fff;
    background-color: #DD4B39;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
    color: #fff;
    background-color: #55ACEE;
    border-color: rgba(0,0,0,0.2);
}
